/* ALL */

html {
  font-size: 10px;
}

/* HEADER */
header {
  padding: 20px;
  margin-right: 10px;
  overflow: hidden;
}

header a {
  font-size: 1.75rem;
  color: rebeccapurple;
  text-decoration: none;
}

header a:hover {
  color: #411263;
}

/* Timer Section*/
header div {
  float: right;
  font-size: 1.7rem;
  font-weight: bold;
}


/* FIRST PAGE */
.intro {
  margin: auto;
  width: 50%;
  text-align: center;
  font-size: 1.75rem;

}

.intro h1 {
  font-weight: bold;
  font-size: 3rem;
  padding: 1rem;
}

.intro p {
  margin: 1.5rem;
}

/* Button */
.start {
  font-size: 1.5rem;
  color: white;
  background-color: rebeccapurple;
  border-radius: 7px;
  margin: 1.5rem;
  padding: 0.5rem;
}

.start:hover {
  box-shadow: inset 0px 0px 5px gray, 0 0 5px gray;
  filter:opacity(90%);
}


/* QUIZ SECTION */
#questions {
  margin: auto;
  width: 50%;
  text-align: left;
}

#questions h3 {
  font-size: 2rem;
  font-weight: bold;
  padding: 0.5rem;
}

#questions p {
  font-size: 1.5rem;
  color: white;
  background-color: rebeccapurple;
  border-radius: 7px;
  margin: 0.5rem;
  padding: 1rem;
}

#questions p:hover {
  box-shadow: inset 0px 0px 5px gray, 0 0 5px gray;
  filter:opacity(90%);
}

/* Right/Wrong Message */
.message {
  font-size: 2rem;
  font-style: italic;
  color: darkgray;
  margin: auto;
  padding: 1rem;
  width: 50%;
  text-align: left;
}


/* ALL DONE PAGE */
.done {
  margin: auto;
  width: 50%;
  text-align: left;
}

.done h1 {
  font-size: 2rem;
  font-weight: bold;
  padding: 1.5rem;
  padding-left: 0;
}

.done p {
  font-size: 1.5rem;

  padding: 0.5rem;
  padding-left: 0;
}

.userInput {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 3rem;
  margin-top: 1.5rem;
}

.submit {
  font-size: 1.5rem;
  color: white;
  background-color: rebeccapurple;
  border-radius: 7px;
  padding: 0.5rem;
  margin-left: 0.5rem;
}

.submit:hover {
  box-shadow: inset 0px 0px 5px gray, 0 0 5px gray;
  filter:opacity(90%);
}